<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <link rel="stylesheet" href="style1.css">
        <title>
            Registration
        </title>
        <link rel="icon" type="image/x-icon" href="apple-touch-icon-180x180.ico">
    </head>
    <body>
            <div class="container">
                <form action="">
                <img src="Final-MIT-WPU-logo-2.png" width="70" height="70">
                <h2>Register</h2>
                <input type="text" placeholder="PRN" pattern="[0-9]{10}">
                <input type="tel" id="phone" name="phone" placeholder="Mobile number" pattern="[0-9]{10}">
                <input type="email" placeholder="Email">
                <input type="password" minlength="8" placeholder="Password" maxlength="16">
                <button type="submit">Sign Up</button>
                </form>
            <p>Already have an account? <a href="signup.html">Login</a></p>
        
    </body>
</html>